*{
    padding: 0;
    border: 0;
    text-decoration: none;
    size: 100%;
    box-sizing: border-box;
}

body{
    padding: 24px;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 28px;
}

p{
    text-align: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact ul{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contact ul li{
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.contact ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
}